<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>
  <div class="row">
    <div class="col-md-10">
      <%= f.search_field :name_cont, class: "form-control", placeholder: t('views.contacts.search_placeholder') %>
    </div>

    <div class="col-md-2">
      <%= button_tag type: "submit", class: "btn btn-success" do %>
        <%= fa_icon("search") %>
      <% end %>
      <%= link_to contacts_path, class: "btn btn-danger" do %>
        <%= fa_icon("close") %>
      <% end %>
    </div>
  </div>
<% end %>

<h1><%= t("activerecord.models.contact") %></h1>

<%= link_to t("app.new", name: t("activerecord.models.contact")), new_contact_path, class: "btn btn-success" %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th><%= t("activerecord.attributes.contact.name") %></th>
      <th><%= t("activerecord.attributes.contact.birthdate") %></th>
      <th><%= t("activerecord.attributes.contact.address") %></th>
      <th><%= t("activerecord.attributes.contact.email") %></th>
      <th><%= t("activerecord.attributes.contact.cellphone") %></th>
      <th><%= t("activerecord.attributes.contact.user_id") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td>
          <%= image_tag contact.avatar.url, class: "image-index" unless contact.avatar.blank? %>
        </td>
        <td><%= contact.name %></td>
        <td><%= contact.birthdate %></td>
        <td><%= contact.address %></td>
        <td><%= contact.email %></td>
        <td><%= contact.cellphone %></td>
        <td><%= contact.user.name unless contact.user.blank? %></td>
        <td><%= link_to fa_icon("eye"), contact, class: "btn btn-primary" %></td>
        <td><%= link_to fa_icon("pencil-square-o"), edit_contact_path(contact), class: "btn btn-primary" %></td>
        <td><%= link_to fa_icon("trash"), contact, class: "btn btn-danger",method: :delete, data: { confirm: t('app.messages.are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<div>
  <%= paginate @contacts %>
</div>
