<p id="notice"><%= notice %></p>
<p>
  <strong><%= t("activerecord.attributes.contact.name") %>:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong><%= t("activerecord.attributes.contact.birthdate") %>:</strong>
  <%= @contact.birthdate %>
</p>

<p>
  <strong><%= t("activerecord.attributes.contact.address") %>:</strong>
  <%= @contact.address %>
</p>

<p>
  <strong><%= t("activerecord.attributes.contact.email") %>:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong><%= t("activerecord.attributes.contact.cellphone") %>:</strong>
  <%= @contact.cellphone %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
